1. 파이썬 셸에서 다음과 같은 실행 결과들을 얻기 위해 빈칸에 알맞은 값을 순서대로 나열한 것은?

In [1]:
3 ** 5

243

In [2]:
15 % 4

3

In [14]:
a = 4

In [15]:
a -= 3
print(a)

1

In [16]:
a = {'prof.choi' : 'The best'}
type(a)

dict

2.

In [18]:
list_1 = [0, 3, 1, 7, 5, 0, 5, 8, 0, 4]
def quiz_2(list_data):
    a = set(list_data)
    return (list(a)[1:5])
print(quiz_2(list_1))

[1, 3, 4, 5]

quiz_2 함수는 매개변수로 들어온 리스트를 세트로 변경하여 a에 저장.\
set는 중복이 허용되지 않음!\
a = {0, 1, 3, 4, 5, 7, 8}\
반환할 때는 a를 다시 리스트로 바꾼 다음, 1번 인덱스부터 4번 인덱스까지만 반환\
[1, 3, 4, 5]

3.

(가) -  스택, (나) - 큐, (다) - 튜플, (라) - 세트

4.

In [20]:
country_code = {"America" : 1, "Korea" : 82, "China" : 86, "Japan" : 81}

In [21]:
country_code.values()

dict_values([1, 82, 86, 81])

In [22]:
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81}

In [23]:
country_code.keys()

dict_keys(['America', 'Korea', 'China', 'Japan'])

In [24]:
85 in country_code.values()

False

In [25]:
"Korea" in country_code.keys()

True

5.

In [26]:
a =""
midterm_set = set([1,5,7,4,3,2,1,1,2,3])
for i in midterm_set:
    a = a+i

print(a)

TypeError: can only concatenate str (not "int") to str

In [27]:
midterm_set = set([1,5,7,4,3,2,1,1,2,3])
print(midterm_set)

{1, 2, 3, 4, 5, 7}

In [44]:
a = 0
midterm_set = set([1,5,7,4,3,2,1,1,2,3])
for i in midterm_set:
    a = a + i

print(a)

22

6.

In [45]:
def delete_a_list_element(list_data, element_value):
    if element_value in list_data:
        list_data.remove(element_value)
        return list_data
    else:
        return "False"

list_data = ['a', 1, 'gachon', '2016.0']
element = float(2016)
result = delete_a_list_element(list_data, element)
print(result)

False

list_data = ['a', 1, 'gachon', '2016.0']\
element = float(2016)\
delete_a_list_element 함수는 매개변수로 받은 list_data에 element_value가 있는 경우, 그 element_value를 제거하고 list_data를 반환하고\ 
없다면 False를 반환하는 함수\
element는 float형, list_data의 2016.0은 str형. 즉 둘은 다른 것\
그러므로 False가 출력됨

7.

In [46]:
def add_number(original_list):
    original_list += [1]
mylist = [1, 2, 3, 4]
add_number(mylist)
print(set(mylist))

{1, 2, 3, 4}

8.

In [47]:
a = [3, "apple", 2016, 4]
b = a.pop(0)
c = a.pop(1)
print(b + c)

2019

9.

In [48]:
def week_seven(sentence1):
    cells = set(sentence1.replace(' ','').lower())
    return cells
sentence_a = "The quick brown fox jumps over the lazy dog"
sentence_b = "I love you"
print(len(week_seven(sentence_a)-week_seven(sentence_b)))

19

10.

In [49]:
tuple_1 = (1, 2, 3)
tuple_2 = (4, 5, 6)

def quiz_1(data_1, data_2):
    result = []
    
    for i in (tuple_1 + tuple_2):
        result.append(i)
    return (result)

print(quiz_1(tuple_1, tuple_2))

[1, 2, 3, 4, 5, 6]

11. 다음 코드의 실행 결과를 쓰시오.

In [50]:
dict_1 = {2:1, 4:2, 6:3, 8:4, 10:6}

dict_keys = list(dict_1.keys())
dict_values = list(dict_1.values())

dict_2 = dict()

for i in range(len(dict_keys)):
    dict_2[dict_values[i]] = dict_keys[i]
    
print(dict_2[2])

4

12.

In [1]:
animal = ['cat', 'snake', 'monkey', 'ant', 'spider']
legs = [4, 0, 2, 4, 8]
animal_legs_dict = {}
for i in range(len(animal)):
    animal_legs_dict[legs[i]] = animal[i]
animal_legs_dict['ant'] = 6
print(animal_legs_dict)

{4: 'ant', 0: 'snake', 2: 'monkey', 8: 'spider', 'ant': 6}

13.

In [2]:
t = (1, 2, 3)
print(t + t)
print(t * 2)
print(t, t)

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3)
(1, 2, 3) (1, 2, 3)

14.

In [3]:
Mydict = {'1' : 1, '2' : 2}
Copy = Mydict
Mydict['1'] = 5
result = Mydict['1'] + Copy['1']
print(result)

10

15.

In [4]:
sentence = list('You Love Me?')
result = ''
for i in range(len(sentence)):
    if i % 3 == 0:
        result += sentence.pop()
    else:
        result += sentence.pop(0)
print(result)

?Yoeu MLo ve

16.

In [5]:
number = [5, 6, 7, 8, 9, 1, 2, 3, 4]
result = []
result.append(number.pop(0))
result.append(number.pop())
result.append(number.pop(1))
result.append(number.pop())
result.append(number.pop(0))
print(number[0] + result[-1])

14

17.

In [7]:
a = list(range(10))
a.append(a[3])
a.pop(a[3])
a.insert(3, a[-1])
a.pop()
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

18.

In [8]:
box = [1, 'red', 3, (), [], None]
print(len(box))

6

19.

In [9]:
data_1 = {'one' : (1,2,3,4,5,6), 'two' : [1,2,3,4,5,6], 'three' : {'four' : 4, 'five' : 5}}

for k in ['one', 'two', 'three']:
    try:
        print(data_1[k][:1])
    except TypeError:
        print("error")

for k in ['one', 'two', 'three']:
    try:
        data_1[k][-1] = "a"
        print(data_1[k][-1])
    except TypeError:
        print("error")

(1,)
[1]
error
error
a
a

20.

In [10]:
class_category = ["A", "B", "C", "D"]
student_category = ["Sam", "Sarah", "Jane", "John"]

class_student_cate = {}
for i in range(len(class_category)):
    class_student_cate[class_category[i]] = student_category[i]
print(class_student_cate)

{'A': 'Sam', 'B': 'Sarah', 'C': 'Jane', 'D': 'John'}