1.

In [1]:
mylist = ['apple', 'banana', 'grape']
result = list(enumerate(mylist))
print(result)

[(0, 'apple'), (1, 'banana'), (2, 'grape')]

2.

In [2]:
cat_song = "my cat has blue eyes, my cat is cute"
print({i:j for j, i in enumerate(cat_song.split())})

{'my': 5, 'cat': 6, 'has': 2, 'blue': 3, 'eyes,': 4, 'is': 7, 'cute': 8}

3.

In [3]:
colors = ['orange', 'pink', 'brown', 'black', 'white']
result = '&'.join(colors)
print(result)

orange&pink&brown&black&white

4.

In [4]:
user_dict = {}
user_list = ["students", "superuser", "professor", "employee"]
for value_1, value_2 in enumerate(user_list):
    user_dict[value_2] = value_1
print(user_dict)

{'students': 0, 'superuser': 1, 'professor': 2, 'employee': 3}

5.

In [5]:
result = [i for i in range(10) if i % 2 == 0]
print(result)

[0, 2, 4, 6, 8]

In [6]:
items = 'zero one two three'.split("two")
result = [i for i in range(10)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
items = 'zero one two three'.split()
print(items)

['zero', 'one', 'two', 'three']

In [9]:
example = 'cs50.gachon.edu'
subdomain, domain, tld = example.split('.')
print(subdomain)

cs50

6.

In [10]:
animal = ['Fox', 'Dog', 'Cat', 'Monkey', 'Horse', 'Panda', 'Owl']
print([ani for ani in animal if 'o' not in ani])

['Cat', 'Panda', 'Owl']

7.

In [12]:
name = "Hanbit University"
student = ["Hong", "Gil", "Dong"]
split_name = name.split()
join_student = ''.join(student)
print(join_student[-4:] + split_name[1])

DongUniversity

8.

In [13]:
kor_score = [49, 79, 20, 100, 80]
math_score = [43, 59, 85, 30, 90]
eng_score = [49, 79, 48, 60, 100]
midterm_score = [kor_score, math_score, eng_score]
print(midterm_score[0][2])

20

9.

In [14]:
a = [1,2,3]
b = [4,5,]
c = [7,8,9]
print([[sum(k), len(k)] for k in zip(a, b, c)])

[[12, 3], [15, 3]]

10.

In [15]:
week = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'navy', 'purple']
list_data = [week, rainbow]

print(list_data[1][2])

yellow

11.

In [16]:
kor_score = [30, 79, 20, 100, 80]
math_score = [43, 59, 0, 30, 90]
eng_score = [49, 72, 48, 67, 15]
midterm_score = [kor_score, math_score, eng_score]
print("score:", midterm_score[2][1])

score: 72

12.

In [18]:
alist = ["a", "b", "c"]
blist = ["1", "2", "3"]
abcd = []

for a, b in enumerate(zip(alist, blist)):
    try:
        abcd.append(b[a])
    except IndexError:
        abcd.append("error")

print(abcd)

['a', '2', 'error']

13.

In [20]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip (alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

14.

In [21]:
alphabet = ["a", "b", "c", "d", "e", "f", "g", "h"]
nums = [i for i in range(20)]
answer = [alpha + str(num) for alpha in alphabet for num in nums if num % 2 == 0]
print(len(answer))

80

15.

In [25]:
url = "cs50.gachon.ac.kr"
university_name = "Gachon University"
gachon_info = [(i + " " + j) for i, j in zip(university_name.split(" "), url.split("."))]
blank = 0
print(gachon_info[blank])

Gachon cs50