1.

In [1]:
mylist = ['apple', 'banana', 'grape']
result = list(enumerate(mylist))
print(result)

[(0, 'apple'), (1, 'banana'), (2, 'grape')]

enumerate 함수 사용하여 mylist의 값에 인덱스를 붙이고, 리스트로 만들어 출력

2.

In [2]:
cat_song = "my cat has blue eyes, my cat is cute"
print({i:j for j, i in enumerate(cat_song.split())})

{'my': 5, 'cat': 6, 'has': 2, 'blue': 3, 'eyes,': 4, 'is': 7, 'cute': 8}

 cat_song을 split() 사용해서 공백 기준으로 나눔\
 그 후 enumerate하여 각 단어에 인덱스를 붙여준 후, 값, 인덱스 순으로 출력\
 다만 이 인덱스는 가장 최근 것이 적용되므로, my와 cat은 뒤에 인덱스 기준으로 적용됨

3.

In [3]:
colors = ['orange', 'pink', 'brown', 'black', 'white']
result = '&'.join(colors)
print(result)

orange&pink&brown&black&white

join() 사용해서 colors의 값 사이마다 & 넣어서 새로운 문자열 생성

4.

In [4]:
user_dict = {}
user_list = ["students", "superuser", "professor", "employee"]
for value_1, value_2 in enumerate(user_list):
    user_dict[value_2] = value_1
print(user_dict)

{'students': 0, 'superuser': 1, 'professor': 2, 'employee': 3}

user_list에 enumerate 적용해서 인덱스 값 붙여줌\
value_1에 인덱스, value_2에 값이 들어감\
user_dict라는 빈 딕셔너리에 value_2를 키로, value_1을 값으로 하여 하나씩 추가\
user_dict 출력

5.

In [5]:
result = [i for i in range(10) if i % 2 == 0]
print(result)

[0, 2, 4, 6, 8]

i는 0~9반복, 0이거나 짝수일때만 result에 저장\

In [28]:
items = 'zero one two three'.split("two")
result = [i for i in range(10)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

items를 split() 사용해서 two를 기준으로 나눔\
zero one / three\
result에는 0부터 9까지의 정수가 들어갈 것\
result만 출력(items와는 무관)

In [29]:
items = 'zero one two three'.split()
print(items)

['zero', 'one', 'two', 'three']

items를 재할당후, split() 사용하여 공백문자 기준으로 나누어 리스트로 만듦\
items 출력

In [9]:
example = 'cs50.gachon.edu'
subdomain, domain, tld = example.split('.')
print(subdomain)

cs50

 example을 split함수 사용하여 .을 기준으로 나누어 언패킹함\
 그 중 맨 앞인 subdomain만 출력

6.

In [10]:
animal = ['Fox', 'Dog', 'Cat', 'Monkey', 'Horse', 'Panda', 'Owl']
print([ani for ani in animal if 'o' not in ani])

['Cat', 'Panda', 'Owl']

animal의 요소를 하나씩 반복문 돌면서 'o'문자가 들어가지 않는 경우만 출력\
Owl은 대문자 o이므로 조건에 만족함

7.

In [31]:
name = "Hanbit University"
student = ["Hong", "Gil", "Dong"]
split_name = name.split()
join_student = ''.join(student)
print(join_student[-4:] + split_name[1])

DongUniversity

name을 split()함수를 사용해서 공백문자 기준으로 나눔\
Hanbit / University
student의 요소를 join함수 사용해서 공백없이 모두 연결하여 join_student에 저장\
HongGilDong\
join_student[-4:]는 D에서 맨 끝까지! 즉 Dong 출력\
거기에 split_name[1]인 University 공백없이 연결!

8.

In [13]:
kor_score = [49, 79, 20, 100, 80]
math_score = [43, 59, 85, 30, 90]
eng_score = [49, 79, 48, 60, 100]
midterm_score = [kor_score, math_score, eng_score]
print(midterm_score[0][2])

20

midterm_score는 kor_score, math_score, eng_score이 세 리스트가 요소로 들어가 있는 중첩 리스트\
midterm_score[0]은 kor_score\
kor_score[2] = 20

9.

In [34]:
a = [1,2,3]
b = [4,5,]
c = [7,8,9]
print([[sum(k), len(k)] for k in zip(a, b, c)])

[[12, 3], [15, 3]]

a, b, c를 zip하여 병렬로 묶음\
(1, 4, 7), (2, 5, 8)\
b의 요소가 2개뿐이므로 마지막 요소들은 zip 불가능\
[[12, 3], [15, 3]]

10.

In [35]:
week = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'navy', 'purple']
list_data = [week, rainbow]

print(list_data[1][2])

yellow

week랑 rainbow 합쳐서 list_data 생성\
list_data[1] = rainbow\
rainbow[2] = yellow

11.

In [16]:
kor_score = [30, 79, 20, 100, 80]
math_score = [43, 59, 0, 30, 90]
eng_score = [49, 72, 48, 67, 15]
midterm_score = [kor_score, math_score, eng_score]
print("score:", midterm_score[2][1])

score: 72

midterm_score[2] = eng_score\
eng_score[1] = 72\
score : 72

12.

In [18]:
alist = ["a", "b", "c"]
blist = ["1", "2", "3"]
abcd = []

for a, b in enumerate(zip(alist, blist)):
    try:
        abcd.append(b[a])
    except IndexError:
        abcd.append("error")

print(abcd)

['a', '2', 'error']

alist랑 blist zip함\
("a", "1"), ("b", "2"), ("c", "3")\
그 다음 enumerate함\
a는 키, b는 value\
try-except문을 사용하여 try를 시도하고 indexerror가 나는 경우는 문자열 error를 추가\
("a", "1")에서는 0번째항 append ['a']\
("b", "2")에서는 1번째항 append ['2']\
("c", "3")에서는 2번째항을 append해야하나, 2번째 항 없으므로 indexerror\
마지막에는 문자열 error를 append

13.

In [20]:
alist = ['a1', 'a2', 'a3']
blist = ['b1', 'b2', 'b3']
for a, b in zip (alist, blist):
    print(a, b)

a1 b1
a2 b2
a3 b3

리스트 두 개를 zip해서 병렬로 묶은 다음 그대로 출력

14.

In [2]:
alphabet = ["a", "b", "c", "d", "e", "f", "g", "h"]
nums = [i for i in range(20)]
answer = [alpha + str(num) for alpha in alphabet for num in nums if num % 2 == 0]
print(len(answer))
print(answer)

80
['a0', 'a2', 'a4', 'a6', 'a8', 'a10', 'a12', 'a14', 'a16', 'a18', 'b0', 'b2', 'b4', 'b6', 'b8', 'b10', 'b12', 'b14', 'b16', 'b18', 'c0', 'c2', 'c4', 'c6', 'c8', 'c10', 'c12', 'c14', 'c16', 'c18', 'd0', 'd2', 'd4', 'd6', 'd8', 'd10', 'd12', 'd14', 'd16', 'd18', 'e0', 'e2', 'e4', 'e6', 'e8', 'e10', 'e12', 'e14', 'e16', 'e18', 'f0', 'f2', 'f4', 'f6', 'f8', 'f10', 'f12', 'f14', 'f16', 'f18', 'g0', 'g2', 'g4', 'g6', 'g8', 'g10', 'g12', 'g14', 'g16', 'g18', 'h0', 'h2', 'h4', 'h6', 'h8', 'h10', 'h12', 'h14', 'h16', 'h18']

alphbet리스트는 a부터 h까지\
nums 리스트는 0부터 19까지\
num이 0이나 짝수인 경우 * 모든 알파벳 요소의 수 = 10 * 8 = 80

15.

In [25]:
url = "cs50.gachon.ac.kr"
university_name = "Gachon University"
gachon_info = [(i + " " + j) for i, j in zip(university_name.split(" "), url.split("."))]
blank = 0
print(gachon_info[blank])

Gachon cs50

우선 university_name을 split 사용해서 띄어쓰기 기준으로 나누고, url은 .기준으로 나눔\
그 다음 zip으로 병렬적으로 묶어줌\
그 중 가장 첫번째 요소값 저장 후 출력 Gachon cs50